# Livestock Production - Data Cleaning

原始数据来源与维护见 [READM.md](https://github.com/good-food/datamap2019/blob/master/README.md)

In [1]:
class ReadData():
    """
    # Usage:
    # df = ReadData(file_name, url).createDF() 
    """
    def __init__(self, file_name, 
                 url = None,
                 org_name = 'good-food', 
                 repo_name = 'datamap2019', 
                 folder_path = '/data/', 
                 mode = 'wb'
                ):
        
        self.file_name = file_name
        self.org_name = org_name
        self.repo_name = repo_name
        self.folder_path = folder_path
        
        self.url = url
        self.mode = mode
        
        self.root_path = 'https://github.com/'
        self.raw_path = 'https://raw.githubusercontent.com/'
        self.branch = 'master'

    def getPath(self):
        if self.url == None:
            path = self.root_path + self.org_name + '/' + self.repo_name + '/blob/' + self.branch + self.folder_path + self.file_name
            raw_path = self.raw_path + self.org_name + '/' + self.repo_name + '/' + self.branch + self.folder_path + self.file_name
            print('Url: ', path)
            print('Raw data:', raw_path)
        else:
            print('Url: ', self.url)
            print('Raw data:', self.url)
        return raw_path

    def curl(self):
        import urllib.request, urllib.parse, urllib.error
        
        url = self.getPath()
        response = urllib.request.urlopen(url).read()
        with open(self.file_name, self.mode) as file_handle:
            file_handle.write(response)

    def delFile(self):
        import os
        if os.path.exists(self.file_name): os.remove(self.file_name)
        else: print('no such file:%s'%self.file_name)

    def createDF(self):
        import pandas as pd
        import time
        print(self.file_name, 'is under dealing... needs 1 min')
        self.curl()
        time.sleep(10)
        df = pd.read_csv(self.file_name)
        self.delFile()
        return df

In [2]:
# input
item = 'product_aquatic'

## Read Data from GitHub Repository
### Data Frame

In [3]:
data_name = item + '_raw.csv'
df_data = ReadData(data_name).createDF()
df_data.head()

product_aquatic_raw.csv is under dealing... needs 1 min
Url:  https://github.com/good-food/datamap2019/blob/master/data/product_aquatic_raw.csv
Raw data: https://raw.githubusercontent.com/good-food/datamap2019/master/data/product_aquatic_raw.csv

,AreaName,Year,Aqu_sum,AquSW,AquSW_grow,AquSW_cult,AquSW_fish,AquSW_crust,AquSW_shell,AquSW_algae,AquSW_other,AquFW,AquFW_grow,AquFW_cult,AquFW_fish,AuFW_crust,AquFW_shell,AquFW_other
0,CNADC,1998,27.4100,27.4100,27.4100,0.0,25.1100,0.2000,0.1000,0.0,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,CNADC,1999,18.3000,18.3000,18.3000,0.0,9.5100,0.3200,8.4700,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CNADC,2000,17.5823,17.5823,17.5823,0.0,7.7602,0.2194,9.6027,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CNADC,2001,18.2977,18.2977,18.2977,0.0,8.9539,0.2250,9.1188,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CNADC,2002,18.2177,18.2177,18.2177,NaN,9.6000,0.1000,NaN,NaN,8.4604,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Explanations

In [5]:
doc_name = item + '_doc.csv'
df_doc = ReadData(doc_name).createDF()
df_doc

product_aquatic_doc.csv is under dealing... needs 1 min
Url:  https://github.com/good-food/datamap2019/blob/master/data/product_aquatic_doc.csv
Raw data: https://raw.githubusercontent.com/good-food/datamap2019/master/data/product_aquatic_doc.csv

ParserError: Error tokenizing data. C error: Expected 4 fields in line 3, saw 5

### Checking data updates

In [6]:
import datetime
year_now = datetime.date.today().year
years = df_data['Year'].unique()
year_newest = years.max()

if year_newest+2 == year_now:
    print('The data is updated to year', year_now-1)
else:
    print('The newest data of National Bureau of Statistics is updated to year', year_now-1)
    print('While our data is updated to year', year_newest+1)
    print('Pleas check the 1st line of this notebook to update data.')
    print('But you can still play with the old data.')
    
print('Year list =',years)

The data is updated to year 2018
Year list = [1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
 2010 2011 2012 2013 2014 2015 2016 2017]

### Data Outline

In [7]:
df_data.shape

(642, 30)

In [8]:
colunms = df_data.columns.values
print('Column names =',colunms)

Column names = ['AreaName' 'Year' 'Stock_largeAni' 'Stock_cattle' 'Stock_horse'
 'Stock_donkey' 'Stock_mule' 'Stock_camel' 'Out_hog' 'Stock_hog'
 'Stock_gt_shp' 'Stock_goat' 'Stock_sheep' 'Out_cattle' 'Out_gt_shp'
 'Out_poultry' 'MeatYield' 'MeatYield_hg_ct_gt_shp' 'MeatYield_hog'
 'MeatYield_cattle' 'MeatYield_gt_shp' 'MilkYield' 'MilkYield_cattle'
 'WoolYield_sheep' 'WoolYield_sheep_fine' 'WoolYield_sheep_semi'
 'WoolYield_goat_thick' 'WoolYield_goat_cashmere' 'EggYield' 'HoneyYield']

In [9]:
areas = df_data['AreaName'].unique()
print('AreaNames =',areas)

AreaNames = ['China' 'Beijing' 'Tianjin' 'Hebei' 'Shanxi' 'Inner Mongolia' 'Liaoning'
 'Jilin' 'Heilongjiang' 'Shanghai' 'Jiangsu' 'Zhejiang' 'Anhui' 'Fujian'
 'Jiangxi' 'Shandong' 'Henan' 'Hubei' 'Hunan' 'Guangdong' 'Guangxi'
 'Hainan' 'Chongqing' 'Sichuan' 'Guizhou' 'Yunnan' 'Tibet' 'Shaanxi'
 'Gansu' 'Qinghai' 'Ningxia' 'Xinjiang']

## Dealing with Missing Values 
### Check Missing Values

In [10]:
# mask missing data with 'True'

df_null = df_data.isnull()
df_null.head()

,AreaName,Year,Stock_largeAni,Stock_cattle,Stock_horse,Stock_donkey,Stock_mule,Stock_camel,Out_hog,Stock_hog,...,MeatYield_gt_shp,MilkYield,MilkYield_cattle,WoolYield_sheep,WoolYield_sheep_fine,WoolYield_sheep_semi,WoolYield_goat_thick,WoolYield_goat_cashmere,EggYield,HoneyYield
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
# Find the columns where missing values exist

null_counts = {}
for column in df_data.columns.tolist():    
    null_count = df_null.groupby([column]).size()[False]
    if null_count < len(df_data.index.values): null_counts[column] = null_count
null_counts

{'Stock_horse': 561,
 'Stock_donkey': 529,
 'Stock_mule': 529,
 'Stock_camel': 158,
 'Stock_sheep': 544,
 'Out_cattle': 558,
 'Out_gt_shp': 558,
 'Out_poultry': 558,
 'MeatYield_cattle': 633,
 'WoolYield_sheep': 540,
 'WoolYield_sheep_fine': 484,
 'WoolYield_sheep_semi': 504,
 'WoolYield_goat_thick': 559,
 'WoolYield_goat_cashmere': 426,
 'HoneyYield': 601}

### Missing Value Explanation and Cleaning
**1. Except 'Out_cattle', 'Out_gt_shp', 'Out_poultry', the missing values in other columns because they are too small, replace them with zeros.**

In [12]:
columns = ['Stock_horse','Stock_donkey','Stock_mule','Stock_camel','Stock_sheep','MeatYield_cattle',\
'WoolYield_sheep','WoolYield_sheep_fine','WoolYield_sheep_semi','WoolYield_goat_thick','WoolYield_goat_cashmere',\
'HoneyYield']

df_data[columns] = df_data[columns].fillna(0)
df_data[columns].describe(include='all')

,Stock_horse,Stock_donkey,Stock_mule,Stock_camel,Stock_sheep,MeatYield_cattle,WoolYield_sheep,WoolYield_sheep_fine,WoolYield_sheep_semi,WoolYield_goat_thick,WoolYield_goat_cashmere,HoneyYield
count,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000
mean,44.209491,44.440794,19.939555,1.876654,960.496308,39.552913,23574.031009,8111.313219,7217.599774,2410.425487,994.260982,2.324778
std,123.495124,128.605836,60.566196,5.960201,2700.268734,104.787724,66989.492238,23963.642050,20118.954097,6589.101800,2916.484640,6.725113
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.224125,0.192500,0.160025,0.000000,1.107500,5.300650,14.132500,0.000000,3.667750,10.000000,0.000000,0.200000
50%,4.482750,6.965000,2.405000,0.000000,114.147458,13.070000,3316.000000,336.065000,1148.045000,405.500000,34.700000,0.638234
75%,40.230000,32.250000,13.425000,0.000000,612.221085,33.137062,14979.347500,3565.500000,5200.750000,1708.750000,769.551400,1.273110
max,898.100000,955.800000,480.600000,35.000000,17088.229860,675.871024,413133.769500,132876.701100,137972.735900,40505.297470,18844.212050,55.528363

**2. The national total of 'Out_cattle', 'Out_gt_shp', 'Out_poultry' can be caculated by adding up the provices data after 1999 and before the newest year.**

In [13]:
import numpy as np

years = range(1999, year_newest)
areas = ['Beijing','Tianjin','Hebei','Shanxi','Inner Mongolia',\
          'Liaoning','Jilin','Heilongjiang',\
          'Shanghai','Jiangsu','Zhejiang','Anhui','Fujian','Jiangxi','Shandong',\
          'Henan','Hubei','Hunan','Guangdong','Guangxi','Hainan',\
          'Chongqing','Sichuan','Guizhou','Yunnan','Tibet',\
          'Shaanxi','Gansu','Qinghai','Ningxia','Xinjiang']

def cn_total(term):
    for year in years:
        vals = list()
        for area in areas:
            val = df_data[term][(df_data['Year']==year) & (df_data['AreaName']==area)].values.tolist()
            vals.extend(val)
        vals = np.array(vals)
        df_data[term][(df_data['Year']==year) & (df_data['AreaName']=='China')] = vals.sum()
    
cn_total('Out_cattle')
cn_total('Out_gt_shp')
cn_total('Out_poultry')

df_data[['AreaName', 'Year', 'Out_cattle','Out_gt_shp','Out_poultry']][(df_data['AreaName']=='China')]

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   AreaName  Year  Out_cattle  Out_gt_shp  Out_poultry
0     China  1996         NaN         NaN          NaN
1     China  1997         NaN         NaN          NaN
2     China  1998         NaN         NaN          NaN
3     China  1999     3766.19    18820.35    743165.05
4     China  2000     3964.81    20472.69    809857.07
5     China  2001     4118.37    21722.45    808834.80
6     China  2002     4401.12    23280.78    832894.09
7     China  2003     4703.03    25958.28    888587.77
8     China  2004     5018.90    28342.98    907021.77
9     China  2005     5287.64    30804.54    986491.81
10    China  2006     4222.06    24733.89    930548.28
11    China  2007     4359.51    25570.71    957867.05
12    China  2008     4446.08    26172.34   1022155.70
13    China  2009     4602.17    26732.90   1060944.95
14    China  2010     4716.81    27220.14   1100577.93
15    China  2011     4670.69    26661.52   1132715.15
16    China  2012     4760.91    27099.53   1207704.27
17    China  2013     4828.30    27586.70   1190459.10
18    China  2014     4929.20    28741.60   1154166.90
19    China  2015     5003.60    29472.80   1198720.60
20    China  2016     5109.80    30694.70   1237300.10
21    China  2017         NaN         NaN          NaN

**3. Before 1999 or in the newest year, the missing values in 'Out_cattle', 'Out_gt_shp', 'Out_poultry' because of the lacking of statistics , just leave them as NaN.**

## Data Checking

In [15]:
print(df_data.describe(include='all'))

       AreaName         Year  Stock_largeAni  Stock_cattle  Stock_horse  \
count       642   642.000000      642.000000    642.000000   642.000000
unique       32          NaN             NaN           NaN          NaN
top       China          NaN             NaN           NaN          NaN
freq         22          NaN             NaN           NaN          NaN
mean        NaN  2007.465732      848.011590    737.702808    44.209491
std         NaN     5.794417     2262.837114   1961.245434   123.495124
min         NaN  1996.000000        1.230000      1.230000     0.000000
25%         NaN  2002.000000      123.272883    111.035000     0.224125
50%         NaN  2007.000000      454.940000    383.810000     4.482750
75%         NaN  2012.000000      627.283775    541.169372    40.230000
max         NaN  2017.000000    15737.761830  13781.822830   898.100000

        Stock_donkey  Stock_mule  Stock_camel       Out_hog     Stock_hog  \
count     642.000000  642.000000   642.000000    642.000000    642.000000
unique           NaN         NaN          NaN           NaN           NaN
top              NaN         NaN          NaN           NaN           NaN
freq             NaN         NaN          NaN           NaN           NaN
mean       44.440794   19.939555     1.876654   4059.385176   2972.681655
std       128.605836   60.566196     5.960201  11024.658981   8016.222970
min         0.000000    0.000000     0.000000     12.600000     21.300000
25%         0.192500    0.160025     0.000000    563.812500    440.447977
50%         6.965000    2.405000     0.000000   1755.232400   1339.595857
75%        32.250000   13.425000     0.000000   3180.377500   2302.897361
max       955.800000  480.600000    35.000000  74951.465340  48189.069710

           ...      MeatYield_gt_shp    MilkYield  MilkYield_cattle  \
count      ...            642.000000   642.000000        642.000000
unique     ...                   NaN          NaN               NaN
top        ...                   NaN          NaN               NaN
freq       ...                   NaN          NaN               NaN
mean       ...             24.014330   168.170416        160.284607
std        ...             66.308076   480.472562        460.266432
min        ...              0.226204     0.000000          0.000000
25%        ...              2.604375    13.412500         12.945695
50%        ...              7.157926    32.705550         30.140000
75%        ...             15.630000    92.162369         83.444800
max        ...            471.068295  3306.694231       3179.829022

        WoolYield_sheep  WoolYield_sheep_fine  WoolYield_sheep_semi  \
count        642.000000            642.000000            642.000000
unique              NaN                   NaN                   NaN
top                 NaN                   NaN                   NaN
freq                NaN                   NaN                   NaN
mean       23574.031009           8111.313219           7217.599774
std        66989.492238          23963.642050          20118.954097
min            0.000000              0.000000              0.000000
25%           14.132500              0.000000              3.667750
50%         3316.000000            336.065000           1148.045000
75%        14979.347500           3565.500000           5200.750000
max       413133.769500         132876.701100         137972.735900

        WoolYield_goat_thick  WoolYield_goat_cashmere     EggYield  HoneyYield
count             642.000000               642.000000   642.000000  642.000000
unique                   NaN                      NaN          NaN         NaN
top                      NaN                      NaN          NaN         NaN
freq                     NaN                      NaN          NaN         NaN
mean             2410.425487               994.260982   172.277924    2.324778
std              6589.101800              2916.484640   472.688429    6.725113
min                 0.000000                 0.000000     0.200000    0.000000
25%                10.000000                 0.000000    16.200000    0.200000
50%               405.500000                34.700000    41.192050    0.638234
75%              1708.750000               769.551400   119.949500    1.273110
max             40505.297470             18844.212050  3160.538660   55.528363

[11 rows x 30 columns]

## Save Clean Data

This data is clean, save it to a new file for data visualization.

In [18]:
save_path = './data/' + item + '_clean.csv'
df_data.to_csv(save_path, index = False)