# Livestock Production

原始数据来源与维护见 [READM.md](https://github.com/good-food/datamap2019/blob/master/README.md)

In [1]:
class ReadData():
    """
    # Usage:

    # input:
    file_name = 'file_name'
    url = None
    data = ReadGithubData(file_name, url)

    # output:
    rawpath = data.getRawPath()
    path = data.getPath()
    print('rawpath:', rawpath)
    print('path:', path)
    df = data.createDF()   
    """

    def __init__(self, file_name, 
                 url = None,
                 org_name = 'good-food', 
                 repo_name = 'datamap2019', 
                 folder_path = '/data/', 
                 mode = 'wb'
                ):
        
        self.file_name = file_name
        self.org_name = org_name
        self.repo_name = repo_name
        self.folder_path = folder_path
        
        self.url = url
        self.mode = mode
        
        self.root_path = 'https://github.com/'
        self.raw_path = 'https://raw.githubusercontent.com/'
        self.branch = 'master'

    def getPath(self):
        if self.url == None:
            url = self.root_path + self.org_name + '/' + self.repo_name + '/blob/' + self.branch + self.folder_path + self.file_name
        else:
            url = self.url
        return url

    def getRawPath(self):
        if self.url == None:
            url = self.raw_path + self.org_name + '/' + self.repo_name + '/' + self.branch + self.folder_path + self.file_name
        else:
            url = self.url
        return url

    def curl(self):
        import urllib.request, urllib.parse, urllib.error
        
        url = self.getRawPath()
        
        response = urllib.request.urlopen(url).read()
        with open(self.file_name, self.mode) as file_handle:
            file_handle.write(response)

    def delFile(self):
        import os

        if os.path.exists(self.file_name):
            os.remove(self.file_name)

        else:
            print('no such file:%s'%self.file_name)

    def createDF(self):
        import pandas as pd

        self.curl()

        df = pd.read_csv(self.file_name)
        self.delFile()
        return df

## Data Pre-processing

In [2]:
# input:
item = 'product_livestock'
year_now = 2019

# Read in data from GitHub repository

**Data Frame**

In [3]:
data_name = item + '.csv'
print(data_name, 'is under dealing...')

data = ReadData(data_name)

data_rawpath = data.getRawPath()
data_path = data.getPath()
df_data = data.createDF()

print('\n')
print('rawpath of data:', data_rawpath)
print('path of data:', data_path)
df_data.head()

product_livestock.csv is under dealing...


rawpath of data: https://raw.githubusercontent.com/good-food/datamap2019/master/data/product_livestock.csv
path of data: https://github.com/good-food/datamap2019/blob/master/data/product_livestock.csv

,AreaName,Year,Stock_largeAni,Stock_cattle,Stock_horse,Stock_donkey,Stock_mule,Stock_camel,Out_hog,Stock_hog,...,MeatYeild_gt_shp,MilkYeild,MilkYeild_cattle,WoolYeild_sheep,WoolYeild_sheep_fine,WoolYeild_sheep_semi,WoolYeild_goat_thick,WoolYeild_goat_cashmere,EggYeild,HoneyYeild
0,China,1996,13360.60,11031.80,871.50,944.40,478.00,34.90,41225.10,36283.60,...,181.000000,735.800000,629.40000,298102.0,121020.0,74099.0,35255.0,9585.00,1965.200,18.4000
1,China,1997,14541.80,12175.70,891.20,952.80,480.60,35.00,46483.70,40034.80,...,212.800000,681.100000,601.10000,255059.0,116054.0,55683.0,25865.0,8626.00,1895.300,21.1000
2,China,1998,14803.20,12441.90,898.10,955.80,473.90,33.50,50215.10,42256.30,...,234.600000,745.400000,662.90000,277545.0,115752.0,68775.0,31417.0,9799.00,2021.300,20.7000
3,China,1999,15024.75,12698.34,891.41,934.77,467.27,32.96,51977.20,43144.20,...,251.264300,806.907300,717.59390,283152.0,114103.0,73700.0,31849.0,10179.65,2134.667,22.9907
4,China,2000,15151.51,12866.34,876.58,922.73,453.03,32.62,52673.34,44681.54,...,273.958296,919.118908,827.43079,292502.0,117386.0,84921.0,33266.0,11057.00,2243.300,24.6000

**Data Explanations**

In [4]:
doc_name = item + '_doc.csv'
print(doc_name, 'is under dealing...')

doc = ReadData(doc_name)

doc_rawpath = doc.getRawPath()
doc_path = doc.getPath()
df_doc = doc.createDF()

print('\n')
print('rawpath of documentation:', doc_rawpath)
print('path of documentation:', doc_path)
df_doc

product_livestock_doc.csv is under dealing...


rawpath of documentation: https://raw.githubusercontent.com/good-food/datamap2019/master/data/product_livestock_doc.csv
path of documentation: https://github.com/good-food/datamap2019/blob/master/data/product_livestock_doc.csv

,Feild name,中文解释,Explanation,单位: Unit
0,AreaName,地区 (省级),Area (provincial),Nan
1,Year,年份,Year,Nan
2,Stock_largeAni,大动物存栏量 (牛&马&驴&骡&骆驼),Stock of cattle&hores&donkey&mule&camel,万只: 10000 #
3,Stock_cattle,牛存栏量,Stock of cattle,万只: 10000 #
4,Stock_horse,马存栏量,Stock of horse,万只: 10000 #
5,Stock_donkey,驴存栏量,Stock of donkey,万只: 10000 #
6,Stock_mule,骡存栏量,Stock of mule,万只: 10000 #
7,Stock_camel,骆驼存栏量,Stock of camel,万只: 10000 #
8,Out_hog,猪出栏量,Output of hog,万只: 10000 #
9,Stock_hog,猪存栏量,Stock of hog,万只: 10000 #
10,Stock_gt_shp,羊存栏量 (绵羊&山羊),Stock of sheep&goat,万只: 10000 #
11,Stock_goat,山羊存栏量,Stock of goat,万只: 10000 #
12,Stock_sheep,绵羊存栏量,Stock of sheep,万只: 10000 #
13,Out_cattle,牛出栏量,Output of cattle,万只: 10000 #
14,Out_gt_shp,羊出栏量,Output of sheep,万只: 10000 #
15,Out_poultry,家禽出栏量,Output of poultry,万只: 10000 #
16,MeatYeild,肉类产量 (所有品类),Meat yeild from all kind of livestock,万吨: 10000 t
17,MeatYeild_hg_ct_gt_shp,主要家畜的肉类产量 (牛&猪&山羊&绵羊),Meat yeild from cattle&hog&goat&sheep,万吨: 10000 t
18,MeatYeild_hog,猪肉产量,Meat yeild from hog,万吨: 10000 t
19,MeatYeild_cattle,牛肉产量,Meat yeild from cattle,万吨: 10000 t
20,MeatYeild_gt_shp,羊肉产量 (山羊&绵羊),Meat yeild from goat&sheep,万吨: 10000 t
21,MilkYeild,奶产量 (所有品类),Milk yeild from all kind of livestock,万吨: 10000 t
22,MilkYeild_cattle,牛奶产量,Milk yeild from cattle,万吨: 10000 t
23,WoolYeild_sheep,绵羊毛产量 (所有绵羊毛品类),Wool yeild from sheep (total),吨: t
24,WoolYeild_sheep_fine,细绵羊毛产量,Wool yeild from sheep (fine),吨: t
25,WoolYeild_sheep_semi,半细绵羊毛产量,Wool yeild from sheep (semi),吨: t
26,WoolYeild_goat_thick,粗山羊毛产量,Wool yeild from goat (thick),吨: t
27,WoolYeild_goat_cashmere,山羊绒产量,Wool yeild from goat (cashmere),吨: t
28,EggYeild,禽蛋产量,Egg yeild from poultry,万吨: 10000 t
29,HoneyYeild,蜂蜜产量,Honey yeild,万吨: 10000 t

## Data Outline

### Checking data shape

In [5]:
df_data.shape

(642, 30)

In [6]:
colunms = df_data.columns.values
print('Column names =',colunms)

Column names = ['AreaName' 'Year' 'Stock_largeAni' 'Stock_cattle' 'Stock_horse'
 'Stock_donkey' 'Stock_mule' 'Stock_camel' 'Out_hog' 'Stock_hog'
 'Stock_gt_shp' 'Stock_goat' 'Stock_sheep' 'Out_cattle' 'Out_gt_shp'
 'Out_poultry' 'MeatYeild' 'MeatYeild_hg_ct_gt_shp' 'MeatYeild_hog'
 'MeatYeild_cattle' 'MeatYeild_gt_shp' 'MilkYeild' 'MilkYeild_cattle'
 'WoolYeild_sheep' 'WoolYeild_sheep_fine' 'WoolYeild_sheep_semi'
 'WoolYeild_goat_thick' 'WoolYeild_goat_cashmere' 'EggYeild' 'HoneyYeild']

In [7]:
areas = df_data['AreaName'].unique()
print('AreaNames =',areas)

AreaNames = ['China' 'Beijing' 'Tianjin' 'Hebei' 'Shanxi' 'Inner Mongolia' 'Liaoning'
 'Jilin' 'Heilongjiang' 'Shanghai' 'Jiangsu' 'Zhejiang' 'Anhui' 'Fujian'
 'Jiangxi' 'Shandong' 'Henan' 'Hubei' 'Hunan' 'Guangdong' 'Guangxi'
 'Hainan' 'Chongqing' 'Sichuan' 'Guizhou' 'Yunnan' 'Tibet' 'Shaanxi'
 'Gansu' 'Qinghai' 'Ningxia' 'Xinjiang']

In [8]:
years = df_data['Year'].unique()
year_newest = years.max()

if year_newest+2 == year_now:
    print('The data is up to date to year', year_now)
else:
    print('The newest data of National Bureau of Statistics is updated to year', year_now)
    print('While our data is updated to year', year_newest+2)
    print('Pleas see the 1st line of this notebook to update data.')
    print('But you can still play with the old data.')
    
print('Year list =',years)

The data is up to date to year 2019
Year list = [1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
 2010 2011 2012 2013 2014 2015 2016 2017]

## Missing values

### Checking the missing valuse

In [9]:
# mask missing data with 'True'

df_null = df_data.isnull()
df_null.head()

,AreaName,Year,Stock_largeAni,Stock_cattle,Stock_horse,Stock_donkey,Stock_mule,Stock_camel,Out_hog,Stock_hog,...,MeatYeild_gt_shp,MilkYeild,MilkYeild_cattle,WoolYeild_sheep,WoolYeild_sheep_fine,WoolYeild_sheep_semi,WoolYeild_goat_thick,WoolYeild_goat_cashmere,EggYeild,HoneyYeild
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
# find the columns where missing values exist
null_counts = {}
for column in df_data.columns.tolist():    
    null_count = df_null.groupby([column]).size()[False]
    if null_count < len(df_data.index.values): null_counts[column] = null_count
null_counts

{'Stock_horse': 561,
 'Stock_donkey': 529,
 'Stock_mule': 529,
 'Stock_camel': 158,
 'Stock_sheep': 544,
 'Out_cattle': 558,
 'Out_gt_shp': 558,
 'Out_poultry': 558,
 'MeatYeild_cattle': 633,
 'WoolYeild_sheep': 540,
 'WoolYeild_sheep_fine': 484,
 'WoolYeild_sheep_semi': 504,
 'WoolYeild_goat_thick': 559,
 'WoolYeild_goat_cashmere': 426,
 'HoneyYeild': 601}

### Dealing with missing values

**1. Except 'Out_cattle', 'Out_gt_shp', 'Out_poultry', the missing values in other columns because they are too small, replace them with zeros.**

In [11]:
columns = ['Stock_horse','Stock_donkey','Stock_mule','Stock_camel','Stock_sheep','MeatYeild_cattle',\
'WoolYeild_sheep','WoolYeild_sheep_fine','WoolYeild_sheep_semi','WoolYeild_goat_thick','WoolYeild_goat_cashmere',\
'HoneyYeild']

df_data[columns] = df_data[columns].fillna(0)
df_data[columns].describe(include='all')

,Stock_horse,Stock_donkey,Stock_mule,Stock_camel,Stock_sheep,MeatYeild_cattle,WoolYeild_sheep,WoolYeild_sheep_fine,WoolYeild_sheep_semi,WoolYeild_goat_thick,WoolYeild_goat_cashmere,HoneyYeild
count,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000
mean,44.209491,44.440794,19.939555,1.876654,960.496308,39.552913,23574.031009,8111.313219,7217.599774,2410.425487,994.260982,2.324778
std,123.495124,128.605836,60.566196,5.960201,2700.268734,104.787724,66989.492238,23963.642050,20118.954097,6589.101800,2916.484640,6.725113
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.224125,0.192500,0.160025,0.000000,1.107500,5.300650,14.132500,0.000000,3.667750,10.000000,0.000000,0.200000
50%,4.482750,6.965000,2.405000,0.000000,114.147458,13.070000,3316.000000,336.065000,1148.045000,405.500000,34.700000,0.638234
75%,40.230000,32.250000,13.425000,0.000000,612.221085,33.137062,14979.347500,3565.500000,5200.750000,1708.750000,769.551400,1.273110
max,898.100000,955.800000,480.600000,35.000000,17088.229860,675.871024,413133.769500,132876.701100,137972.735900,40505.297470,18844.212050,55.528363

**2. The national total of 'Out_cattle', 'Out_gt_shp', 'Out_poultry' can be caculated by adding up the provices data after 1999 and before the newest year.**

In [12]:
import numpy as np

years = range(1999, year_newest)
areas = ['Beijing','Tianjin','Hebei','Shanxi','Inner Mongolia',\
          'Liaoning','Jilin','Heilongjiang',\
          'Shanghai','Jiangsu','Zhejiang','Anhui','Fujian','Jiangxi','Shandong',\
          'Henan','Hubei','Hunan','Guangdong','Guangxi','Hainan',\
          'Chongqing','Sichuan','Guizhou','Yunnan','Tibet',\
          'Shaanxi','Gansu','Qinghai','Ningxia','Xinjiang']

def cn_total(term):
    for year in years:
        vals = list()
        for area in areas:
            val = df_data[term][(df_data['Year']==year) & (df_data['AreaName']==area)].values.tolist()
            vals.extend(val)
        vals = np.array(vals)
        df_data[term][(df_data['Year']==year) & (df_data['AreaName']=='China')] = vals.sum()
    
cn_total('Out_cattle')
cn_total('Out_gt_shp')
cn_total('Out_poultry')

df_data[['AreaName', 'Year', 'Out_cattle','Out_gt_shp','Out_poultry']][(df_data['AreaName']=='China')]

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   AreaName  Year  Out_cattle  Out_gt_shp  Out_poultry
0     China  1996         NaN         NaN          NaN
1     China  1997         NaN         NaN          NaN
2     China  1998         NaN         NaN          NaN
3     China  1999     3766.19    18820.35    743165.05
4     China  2000     3964.81    20472.69    809857.07
5     China  2001     4118.37    21722.45    808834.80
6     China  2002     4401.12    23280.78    832894.09
7     China  2003     4703.03    25958.28    888587.77
8     China  2004     5018.90    28342.98    907021.77
9     China  2005     5287.64    30804.54    986491.81
10    China  2006     4222.06    24733.89    930548.28
11    China  2007     4359.51    25570.71    957867.05
12    China  2008     4446.08    26172.34   1022155.70
13    China  2009     4602.17    26732.90   1060944.95
14    China  2010     4716.81    27220.14   1100577.93
15    China  2011     4670.69    26661.52   1132715.15
16    China  2012     4760.91    27099.53   1207704.27
17    China  2013     4828.30    27586.70   1190459.10
18    China  2014     4929.20    28741.60   1154166.90
19    China  2015     5003.60    29472.80   1198720.60
20    China  2016     5109.80    30694.70   1237300.10
21    China  2017         NaN         NaN          NaN

**3. Before 1998 or in the newest year, the missing values in 'Out_cattle', 'Out_gt_shp', 'Out_poultry' because of the lacking of statistics , just leave them as NaN.**

## Save Clean Data

This data is clean, save it to a new file for data visualization.

In [13]:
df_data.to_csv('./data/product_livestock_clean.csv', index = False)