# Livestock Production

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read dataframe

path = 'livestock.csv'
df = pd.read_csv(path)
df.head()

,AreaName,Year,Stock_largeAni,Stock_cattle,Stock_horse,Stock_donkey,Stock_mule,Stock_camel,Out_hog,Stock_hog,...,MeatYeild_gt_shp,MilkYeild,MilkYeild_cattle,WoolYeild_sheep,WoolYeild_sheep_fine,WoolYeild_sheep_semi,WoolYeild_goat,WoolYeild_goat_cashmere,EggYeild,HoneyYeild
0,China,1996,13360.60,11031.80,871.50,944.40,478.00,34.90,41225.10,36283.60,...,181.000000,735.800000,629.40000,298102.0,121020.0,74099.0,35255.0,9585.00,1965.200,18.4000
1,China,1997,14541.80,12175.70,891.20,952.80,480.60,35.00,46483.70,40034.80,...,212.800000,681.100000,601.10000,255059.0,116054.0,55683.0,25865.0,8626.00,1895.300,21.1000
2,China,1998,14803.20,12441.90,898.10,955.80,473.90,33.50,50215.10,42256.30,...,234.600000,745.400000,662.90000,277545.0,115752.0,68775.0,31417.0,9799.00,2021.300,20.7000
3,China,1999,15024.75,12698.34,891.41,934.77,467.27,32.96,51977.20,43144.20,...,251.264300,806.907300,717.59390,283152.0,114103.0,73700.0,31849.0,10179.65,2134.667,22.9907
4,China,2000,15151.51,12866.34,876.58,922.73,453.03,32.62,52673.34,44681.54,...,273.958296,919.118908,827.43079,292502.0,117386.0,84921.0,33266.0,11057.00,2243.300,24.6000

In [3]:
df.columns.values

array(['AreaName', 'Year', 'Stock_largeAni', 'Stock_cattle',
       'Stock_horse', 'Stock_donkey', 'Stock_mule', 'Stock_camel',
       'Out_hog', 'Stock_hog', 'Stock_gt_shp', 'Stock_goat',
       'Stock_sheep', 'Out_cattle', 'Out_gt_shp', 'Out_poultry',
       'MeatYeild', 'MeatYeild_hg_ct_gt_shp', 'MeatYeild_hog',
       'MeatYeild_cattle', 'MeatYeild_gt_shp', 'MilkYeild',
       'MilkYeild_cattle', 'WoolYeild_sheep', 'WoolYeild_sheep_fine',
       'WoolYeild_sheep_semi', 'WoolYeild_goat',
       'WoolYeild_goat_cashmere', 'EggYeild', 'HoneyYeild'], dtype=object)

In [4]:
df['AreaName'].unique()

array(['China', 'Beijing', 'Tianjin', 'Hebei', 'Shanxi', 'Inner Mongolia',
       'Liaoning', 'Jilin', 'Heilongjiang', 'Shanghai', 'Jiangsu',
       'Zhejiang', 'Anhui', 'Fujian', 'Jiangxi', 'Shandong', 'Henan',
       'Hubei', 'Hunan', 'Guangdong', 'Guangxi', 'Hainan', 'Chongqing',
       'Sichuan', 'Guizhou', 'Yunnan', 'Tibet', 'Shaanxi', 'Gansu',
       'Qinghai', 'Ningxia', 'Xinjiang'], dtype=object)

In [5]:
df['Year'].unique()

array([1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
      dtype=int64)

In [6]:
# mask missing data with 'True'

df_null = df.isnull()
df_null.head()

,AreaName,Year,Stock_largeAni,Stock_cattle,Stock_horse,Stock_donkey,Stock_mule,Stock_camel,Out_hog,Stock_hog,...,MeatYeild_gt_shp,MilkYeild,MilkYeild_cattle,WoolYeild_sheep,WoolYeild_sheep_fine,WoolYeild_sheep_semi,WoolYeild_goat,WoolYeild_goat_cashmere,EggYeild,HoneyYeild
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
# find the columns where missing values exist
null_counts = {}
for column in df.columns.tolist():    
    null_count = df_null.groupby([column]).size()[False]
    if null_count < len(df.index.values): null_counts[column] = null_count
null_counts

{'Stock_horse': 561,
 'Stock_donkey': 529,
 'Stock_mule': 529,
 'Stock_camel': 158,
 'Stock_sheep': 544,
 'Out_cattle': 558,
 'Out_gt_shp': 558,
 'Out_poultry': 558,
 'MeatYeild_cattle': 633,
 'WoolYeild_sheep': 540,
 'WoolYeild_sheep_fine': 484,
 'WoolYeild_sheep_semi': 504,
 'WoolYeild_goat': 559,
 'WoolYeild_goat_cashmere': 426,
 'HoneyYeild': 601}

1. The missing valuse in 'Out_cattle', 'Out_gt_shp', 'Out_poultry' because of the lackinng of statistics in the year 1997 and 2017.
2. The valuse in other columns are missing because they are zeros.

In [8]:
# replace missing valuse in by 0s.

columns = ['Stock_horse','Stock_donkey','Stock_mule','Stock_camel','Stock_sheep','MeatYeild_cattle',\
'WoolYeild_sheep','WoolYeild_sheep_fine','WoolYeild_sheep_semi','WoolYeild_goat','WoolYeild_goat_cashmere',\
'HoneyYeild']

df[columns] = df[columns].fillna(0)
df.describe(include='all')

,AreaName,Year,Stock_largeAni,Stock_cattle,Stock_horse,Stock_donkey,Stock_mule,Stock_camel,Out_hog,Stock_hog,...,MeatYeild_gt_shp,MilkYeild,MilkYeild_cattle,WoolYeild_sheep,WoolYeild_sheep_fine,WoolYeild_sheep_semi,WoolYeild_goat,WoolYeild_goat_cashmere,EggYeild,HoneyYeild
count,642,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,...,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000,642.000000
unique,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2007.465732,848.011590,737.702808,44.209491,44.440794,19.939555,1.876654,4059.385176,2972.681655,...,24.014330,168.170416,160.284607,23574.031009,8111.313219,7217.599774,2410.425487,994.260982,172.277924,2.324778
std,NaN,5.794417,2262.837114,1961.245434,123.495124,128.605836,60.566196,5.960201,11024.658981,8016.222970,...,66.308076,480.472562,460.266432,66989.492238,23963.642050,20118.954097,6589.101800,2916.484640,472.688429,6.725113
min,NaN,1996.000000,1.230000,1.230000,0.000000,0.000000,0.000000,0.000000,12.600000,21.300000,...,0.226204,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000
25%,NaN,2002.000000,123.272883,111.035000,0.224125,0.192500,0.160025,0.000000,563.812500,440.447977,...,2.604375,13.412500,12.945695,14.132500,0.000000,3.667750,10.000000,0.000000,16.200000,0.200000
50%,NaN,2007.000000,454.940000,383.810000,4.482750,6.965000,2.405000,0.000000,1755.232400,1339.595857,...,7.157926,32.705550,30.140000,3316.000000,336.065000,1148.045000,405.500000,34.700000,41.192050,0.638234
75%,NaN,2012.000000,627.283775,541.169372,40.230000,32.250000,13.425000,0.000000,3180.377500,2302.897361,...,15.630000,92.162369,83.444800,14979.347500,3565.500000,5200.750000,1708.750000,769.551400,119.949500,1.273110
max,NaN,2017.000000,15737.761830,13781.822830,898.100000,955.800000,480.600000,35.000000,74951.465340,48189.069710,...,471.068295,3306.694231,3179.829022,413133.769500,132876.701100,137972.735900,40505.297470,18844.212050,3160.538660,55.528363

In [9]:
# df_cn = df[df['AreaName'] == 'China']
# df_cn.head()

In [16]:
# df_provinces = df[(df['AreaName'] == 'Beijing')|
#                   (df['AreaName'] == 'Tianjin')|
#                   (df['AreaName'] == 'Hebei')|
#                   (df['AreaName'] == 'Shanxi')|
#                   (df['AreaName'] == 'Inner Mongolia')|
#                   (df['AreaName'] == 'Liaoning')|
#                   (df['AreaName'] == 'Jilin')|
#                   (df['AreaName'] == 'Heilongjiang')|
#                   (df['AreaName'] == 'Shanghai')|
#                   (df['AreaName'] == 'Jiangsu')|
#                   (df['AreaName'] == 'Zhejiang')|
#                   (df['AreaName'] == 'Anhui')|
#                   (df['AreaName'] == 'Fujian')|
#                   (df['AreaName'] == 'Jiangxi')|
#                   (df['AreaName'] == 'Shandong')|
#                   (df['AreaName'] == 'Henan')|
#                   (df['AreaName'] == 'Hubei')|
#                   (df['AreaName'] == 'Hunan')|
#                   (df['AreaName'] == 'Guangdong')|
#                   (df['AreaName'] == 'Guangxi')|
#                   (df['AreaName'] == 'Hainan')|
#                   (df['AreaName'] == 'Chongqing')|
#                   (df['AreaName'] == 'Sichuan')|
#                   (df['AreaName'] == 'Guizhou')|
#                   (df['AreaName'] == 'Yunnan')|
#                   (df['AreaName'] == 'Tibet')|
#                   (df['AreaName'] == 'Shaanxi')|
#                   (df['AreaName'] == 'Gansu')|
#                   (df['AreaName'] == 'Qinghai')|
#                   (df['AreaName'] == 'Ningxia')|
#                   (df['AreaName'] == 'Xinjiang')]
# df_provinces.head()

df['Out_cattle'][(df['Year']==1998)].ipynb_checkpoints/

In [20]:
df['Out_cattle_eS'],df['Out_cattle_eM'],df['Out_gt_shp_eS'],df['Out_gt_shp_eM'],df['Out_poultry_eS'],df['Out_poultry_eM'] = [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan]

In [35]:
Stock_cattle_1999 = df['Stock_cattle'][(df['Year']==1999)].values

In [38]:
df['Out_cattle'][(df['Year']==1998)].

AttributeError: 'Series' object has no attribute 'fill'

In [8]:
#df['Year'] = df['Year'].astype(str)
#df['Year'].unique()

In [11]:
# # set index
# df.set_index(['AreaName', 'Year'], inplace=True)
# df.head()

In [13]:
# data disctiption
# print(df.dtypes)
# print(df.columns.tolist)

In [1]:
# cities = ['Beijing','Tianjin','Hebei','Shanxi','Inner Mongolia',\
#           'Liaoning','Jilin','Heilongjiang',\
#           'Shanghai','Jiangsu','Zhejiang','Anhui','Fujian','Jiangxi','Shandong',\
#           'Henan','Hubei','Hunan','Guangdong','Guangxi','Hainan',\
#           'Chongqing','Sichuan','Guizhou','Yunnan','Tibet',\
#           'Shaanxi','Gansu','Qinghai','Ningxia','Xinjiang']

# years = range(1997, 2017)

# stocks = ['Stock_cattle', 'Stock_horse', 'Stock_donkey','Stock_mule', 'Stock_camel', \
#           'Stock_hog', 'Stock_goat', 'Stock_sheep']

# outputs = ['Out_hog', 'Out_cattle', 'Out_gt_shp', 'Out_poultry']

# yeilds = ['MeatYeild_hog', 'MeatYeild_cattle', 'MeatYeild_gt_shp', \
#           'MilkYeild_cattle', 'EggYeild', \
#           'WoolYeild_sheep', 'WoolYeild_sheep_fine', 'WoolYeild_sheep_semi', \
#           'WoolYeild_goat', 'WoolYeild_goat_cashmere']